* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styling for the page */
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 80px;
    background-image: linear-gradient(rgb(0, 0, 7), rgb(2, 89, 116));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
  
  }
  /* Set up of the main container */
.container-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Styling for the Header only */
  header {
    display: flex;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    align-items: center;
  }

  .group {
    display: flex;
    flex-basis: 40%;
    
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    font-size: 24px;
    flex-basis: 60%;
    justify-content: flex-end;
  }
  a:hover {
    color: goldenrod;
  }

  a {
    text-decoration: none;
    padding: none;
    margin: none;
    color: white;
  }

  .group > img {
    width: 100px;
    object-fit: contain;
  }

  /* Style the main form and its elements inside */

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 30%; 
    background-color: black;
    transition: ease-out 0.5s;
    align-self: center;
    border-radius: 6px;
    background-image: linear-gradient(black,white);
    gap: 30px;
    overflow: auto;
    opacity: 0.85;
  }
  /* Styling the full name and email inputs getting them to align side to side */
  .name {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  /* margin for textarea space */
  .info,textarea {
    margin-top: 20px;
  }

/* styling the button */
  input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    transition: ease-out 0.2s;
    border: 2px solid white;

  }

  /* Fonts being added and sized */
.card > h1 {
    font-family: "Oswald", sans-serif;
}

form {
    font-family: "Noto Sans JP", sans-serif;
}

input {
    font-size: 20px;
}

/* Hover feature for button and card */

input[type=submit]:hover {
    opacity: 0.2;
    transition: ease-in-out 0.2s;
}

textarea {
    font-size: 20px;

}

/* Simple footer styling */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald",sans-serif;
    width: 100%;
    flex-shrink: 0;
    position: fixed;
    bottom: 30px;
    
}
/* Styling and containing two nike logos */
.container-1 img {
  width: 300px;
  object-fit: contain;
  
}


/* Media queries for different screen sizes, incomplete for mobile */
@media screen and (max-width:1850px) {
  .card {
    width: 50%;
  }
  .container-1 img {
    width: 100px;
    object-fit: contain;
    
  }
  
  div + img {
    width: 100px;
    object-fit: contain;
    
  }

}

@media screen and (max-width:1200px) {
  .card{
    width: 30%;
    flex-wrap: wrap;
  }

}


@keyframes slideup {
  from {
    transform: translateY(-200px);

  }

  to {
    transform:translateY(0);
  }
}

.container-1 img {
animation-name: slideup;
animation-duration: 1s;
animation-timing-function: linear;





}
